img {
  width: 300px;
  height: 300px;
}
input {
  border: 1px solid #292929;
}
.products {
  max-width: 1250px;
  margin: 0 auto;
}

.product {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 600px;
}
.product-el {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #000;
}
.textarea-comment {
  height: 50px;
  border: 1px solid #292929;
}
